<?php

$DAYS_KEEP = 7;
$DAYS_FOREVER = [
    "01",
    "10",
    "20"
];

$SERVERS = [
    "adri_server" => [
        "ADDRESS" => "host_name",
        "SFTPUSER" => "sftp_user",
        "SFTPPASS" => "sftp_pass",
        "DBUSER" => "db_user",
        "DBPASS" => "db_pass",
        "DATABASES" => [
            "db_name",
        ],
        "FILES" => [
            "/var/dir/example.txt",
            "/lib/test.conf",
        ],
        "DIRS" => [
            "/home/user_example",
        ],
    ]
];